Pipelines/Get_Session_IDs_From_Event_ID.json
{
	"name": "Get_Session_IDs_From_Event_ID",
	"properties": {
		"activities": [
			{
				"name": "API_Call",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://api.micheleberardi.com/racing/v1.0/motogp-sessions?token=@{pipeline().parameters.token}&year=@{pipeline().parameters.year}&categoryid=@{pipeline().parameters.categoryid}&eventid=@{pipeline().parameters.eventid}",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "API_Call",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(string(activity('API_Call').output.Response))",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "If RAC",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type,'RAC')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute GetFullResults",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Get_Full_Results_From_Session_And_Event_IDs",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"eventid": {
													"value": "@pipeline().parameters.eventid",
													"type": "Expression"
												},
												"sessionid": {
													"value": "@item().id",
													"type": "Expression"
												},
												"token": {
													"value": "@pipeline().parameters.token",
													"type": "Expression"
												},
												"year": {
													"value": "@pipeline().parameters.year",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"eventid": {
				"type": "string"
			},
			"token": {
				"type": "string"
			},
			"year": {
				"type": "int"
			},
			"categoryid": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Ingest_Entities_Data/Getting_Full_Results"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-23T16:16:51Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}